
body {
    background-color: white;
    color: #333333;
    font-family: Open-Sans, sans-serif;
}

.navbar-default {
    background-color: #292929;
}

.navbar-expand-lg .navbar-brand {
    font-family: 'Permanent-Marker';
    font-weight: 400;
    color: #0B0B0B;
    font-size: 30px;
}

.center {
    text-align: center;
}

.col-md-6 {
    h3 {
        font-size: 45px;
    }
    h5 {
        font-size: 25px;
    }
    p {
        font-size: 18px;
    }
}

.jumbotron {
    background-image: url('jumbotron1.png');
    h1, h2 {
        font-family: "Permanent Marker";
        color: white;
    }
    background-size: cover;
    
}

footer {
    background-color: #292929 !important;
    color: white;
}