
<h2 class="contract-owner">Thanks, you paid <strong>AUD<%= @amount %></strong>!</h2>

<p class="contract-DESC">Redirecting you to our main page......</p>

<script>setTimeout(function(){window.location.href="/"},5000);</script>