<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Sneakers Palooza</h5>
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->


            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Contact</h5>
                <p>
                    <i class="fa fa-home mr-3"></i> SYDNEY, AUSTRALIA</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>Email: info@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>Phone: + 01 234 567 88</p>
            </div>
            <!--/.Second column-->
            <hr>
            <!--Social buttons-->
                <div class="text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm btn-fb mx-1">
                                <i class="fa fa-facebook"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm btn-tw mx-1">
                                <i class="fa fa-twitter"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm btn-gplus mx-1">
                                <i class="fa fa-google-plus"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm btn-li mx-1">
                                <i class="fa fa-linkedin"> </i>
                            </a>
                        </li>
                    </ul>
                </div>
            <!--/.Social buttons-->
            <hr class="clearfix w-100 d-md-none">

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-danger btn-rounded" %>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->
    <hr>
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © Copyright 2018:
        <a href="https://sneakerspalooza.herokuapp.com/"> SneakerPalooza.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->